<% include ./partials/header.ejs %>

<!-- <div class="row" id="searchbar">
  <div class="col-md-12">
    <input type="text" class="text-box" placeholder="Enter Artist" id="artist-input"> 
</div> -->

<div class="row">
<div class="col-md-12">
 Start adding artists to your board.
</div>

  <form id="getRelatedArtists">
      <input name="relatedArtist" id="searchArtist" placeholder="Search artist name"></input>
      <input type="submit" value='search'>
      </form>
</div>

<!-- Search results -->
<!-- how to make this only appear after a search? -->
<div class="row" id="searchResultsRow">
Click on an artist to see thier related artists, or add them to your board.
  <div class="col-md-12"></div>
</div>

<!-- Choose an aritst from the results and append here -->
<div class="row">
  <div class="col-md-12">
    Chosen artist
  </div>
  <div class="col-md-12" id="chosenArtist"></div>
  <div class="col-md-12">
    Related artists
  </div>
  <div class="col-md-12" id="chosenArtistRelated"></div>
</div>

<!-- form for talking about album -->
<div class="row">
<div class="col-md-12">
Talk about albums
</div>
  <form id="description">
      <textarea name="artist-description" id="artist-description" placeholder="Write a little about this artist"></textarea>
      <input type="submit" value='search'>
      </form>
</div>


<% include ./partials/footer.ejs %>







<!-- <div class="row"> -->
 <!--  <div class="col-md-12">Your most listened to artists this year<br>
  <input class="btn btn-default" type="submit" value="Year">
  </div>
</div>

<div class="row">
<div class="col-md-12">
  Your top artists by season
</div>
  <div class="col-md-3">
  <input class="btn btn-default" type="submit" value="Winter">
  </div>
  <div class="col-md-3">
  <input class="btn btn-default" type="submit" value="Spring">
  </div>
  <div class="col-md-3">
  <input class="btn btn-default" type="submit" value="Summer">
  </div>
  <div class="col-md-3">
  <input class="btn btn-default" type="submit" value="Winter">
  </div>
</div> -->