<% include ./partials/header.ejs %>

<!-- <div class="row" id="searchbar">
  <div class="col-md-12">
    <input type="text" class="text-box" placeholder="Enter Artist" id="artist-input"> 
</div> -->
<!-- search area -->
<div class="row">
<div class="col-md-12 title">
 Start adding artists to your board.
</div>

  <form id="getRelatedArtists">
      <input name="relatedArtist" id="searchArtist" placeholder="Search artist name"></input>
      <input type="submit" value='search'>
      </form>
</div>

<!-- album node -->
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 node">
    <div class="col-xs-2 col-sm-2 col-md-2 .col-xs-offset-10 col-ms-offset-10 col-md-offset-10 okbutton">
    <div class="btn-group" role="group">
     <button type="button" class="btn btn-default btn-lg">
     <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
     </button>
    </div>
  </div>
   <!-- add album button -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 addbutton">
    <div class="btn-group" role="group">
     <button type="button" class="btn btn-default btn-lg">
     <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
     Click to add an album
     </button>
   </div>
  </div> 
<!-- album description text area -->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 textarea">
   <span class="input-group">
      <textarea type="text" class="form-control" placeholder="Write about this album" aria-label="Album description"></textarea>
      <div class="input-group-btn">
      <!-- Buttons -->
      <!-- <button class="btn btn-default" type="button">Save</button> -->
   </span>
  </div> 

<% include ./partials/footer.ejs %>







<!-- <div class="row"> -->
 <!--  <div class="col-md-12">Your most listened to artists this year<br>
  <input class="btn btn-default" type="submit" value="Year">
  </div>
</div>

<div class="row">
<div class="col-md-12">
  Your top artists by season
</div>
  <div class="col-md-3">
  <input class="btn btn-default" type="submit" value="Winter">
  </div>
  <div class="col-md-3">
  <input class="btn btn-default" type="submit" value="Spring">
  </div>
  <div class="col-md-3">
  <input class="btn btn-default" type="submit" value="Summer">
  </div>
  <div class="col-md-3">
  <input class="btn btn-default" type="submit" value="Winter">
  </div>
</div> -->